/*----- Header and Logo Image -----*/
header {
  height: 100vh;
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 55px;
    position: fixed;
    text-transform: uppercase;
    width: 100vw;
    transition: all 0.5s ease;
    z-index: 9999;
    img {
      max-width: 200px;
      transition: all 0.5s ease;
    }
  }
}

/*----- Nav Menu -----*/
nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 5px 10px;
  .toggle-nav {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      display: flex;
      align-items: center;
    }
    li a {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      line-height: 30px;
      margin: 0 25px;
      outline: none;
      text-align: center;
      text-decoration: none;
      width: 100%;
      z-index: 9999;
    }
    li.current {
      background-image: url('../../images/menu-hover.png');
      background-size: 100% 25px !important;
      background-position: center center;
      background-repeat: no-repeat;
    }
    li.current a {
      color: #32496f;
    }
  }
}
.shrink {
  background: #32496f;
  padding: 0px 20px !important;
  img {
    transform: scale(.65);
  }
}
/*----- Hero Image -----*/
body {
  font-family: sans-serif;
  color: rgb(136, 136, 136);
  figure.tint:before {
    background: rgba(50, 73, 111, 1);
    bottom: 0;
    content: "";
    display: block;
    height: 150vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }
  figure.tint img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover !important;
    opacity: 0.3;
    position: fixed;
    z-index: -1;
  }
  img.overlay {
    opacity: 1;
    padding: 20%;
    position: absolute;
    width: 100%;
  }
}

/*----- Section Headers -----*/
section {
  padding: 90px 0;
  .sectionTitle {
    align-items: center;
    display: flex;
    flex-direction: column;
    h2.mainTitle {
      background-image: url("../../images/menu-hover.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto !important;
      color: #333;
      margin: 0;
      padding: 1.5em;
      text-align: center;
      text-transform: uppercase;
      width: 160px;
    }
    h4.subTitle {
      color: #656363;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: .1em;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

/*----- About Section -----*/
#aboutUs {
  background-color: #E9E6E0;
  text-align: center;
}
.aboutContentWrapper {
  display: flex;
  font-size: 12px;
  letter-spacing: .1em;
  line-height: 2;
  padding: 5%;
}
.aboutImage img {
  max-width: 500px;
}
.aboutContent {
  margin-left: 5%;
}

/*----- Menu Section -----*/
#menu {
  background-color: #D0DDE3;
  .menuFood {
    display: flex;
    justify-content: center;
    > img {
      max-height: 300px;
      margin: 5em 1em;
    }
  }
  #menuItems {
    display: flex;
    margin: 2em;
    > li {
      width: 50%;
      > ul li {
        padding: 0 10px;
      }
    }
    li.column1 {
      margin-right: 3%;
    }
    li.column2 {
      margin-left: 3%;
    }
    .header {
      border-bottom: 1px solid #333;
      margin-bottom: 1em;
      h3 {
        color: #32496f;
        font-size: 24px;
        margin-bottom: 0.5em;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .itemTitle {
      color: #32496f;
      display: flex;
      justify-content: space-between;
      p {
        font-size: .9em;
        font-weight: bold;
        text-transform: uppercase;
      }
      span {
        font-weight: 100;
      }
    }
    .itemDetails {
      p {
        font-size: 12px;
        letter-spacing: 1.2px;
      }
    }
  }
}

/*----- Press Section -----*/
#press {
  background-color: #e9e9e9;
  .blogWrapper {
    display: flex;
    justify-content: center;
    margin: 5%;
    .blog {
      background: #ffffff none repeat scroll 0 0;
      flex-grow: 1;
      margin: 0 2%;
      padding: 15px;
      .blogImg img {
        height: auto;
        width: 100%;
      }
      .blogContent {
        color: #333;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

/*----- Locations Section -----*/
#locations {
  background-color: #4B5659;
  .sectionTitle {
    h2 {
      width: 9em;
    }
    h4 {
      color: white;
    }
  }
  .blockWrapper {
    display: flex;
    margin-right: 5%;
  }
  .block {
    float: left;
    margin-left: 5%;
    width: 28.33%;
    overflow: hidden;
    position: relative;
  }
  .block:hover .locationDescription {
    transform: matrix(1, 0, 0, 1, 0, -420);
  }
  .locationWrapper {
    background: white;
    img {
      width: 100%;
    }
    .blockContent {
      padding: 1px;
      text-align: center;
    }
  }
  .locationDescription {
    background-color: #32496f;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease;
    padding: 25% 20%;
    text-align: center;
    p {
      line-height: 2.2em;
      color: white;
    }
  }
}

/*----- Contact Section -----*/
#contact {
  background-color: #D0DDE3;
  .sectionTitle {
    h2 {
      width: 8em;
    }
  }
  .numbersWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    > span {
      font-size: 1.5em;
      font-weight: lighter;
    }
  }
  .contactWrapper {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    form {
      width: 45%;
      p {
        margin: 0.5em 0;
      }
      input {
        border: 1px solid #ccc;
        color: #534f4f;
        font-size: 14px;
        font-weight: 300;
        height: 38px;
        margin-bottom: 2px;
        width: 100%;
      }
      textarea {
        border: 1px solid #ccc;
        resize: none;
        width: 100%;
      }
      input[type="send"] {
        background: #32496f;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        margin-top: 5%;
        padding: 15px;
        text-align: center;
        width: 25%;
      }
    }
    iframe {
      margin-left: 5%;
    }
  }
}

/*----- Order Section -----*/
#order {
  background-color: #32496F;
  color: white;
  letter-spacing: 2px;
  .sectionTitle {
    h2 {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-size: 2.5em;
    }
    h3 {
      text-align: center;
    }
  }
  .orderButtons {
    display: flex;
    justify-content: center;
    .orderButton img {
      max-width: 100px;
      padding: 10%;
    }
  }
}

/*----- Media Queries -----*/

@media screen and (max-width: 980px) {
  #locations .block:hover .locationDescription {
    transform: matrix(1, 0, 0, 1, 0, -380);
  }
  #locations .locationDescription {
    padding: 25% 10%;
  }
}

@media screen and (max-width: 860px) {
  nav .toggle-nav {
    color: white;
    display: flex;
    font-size: 2em;
    outline: none;
    text-decoration: none;
  }
  nav ul {
    background: #32496F;
    flex-direction: column;
    padding: 2%;
    position: absolute;
    right: 1em;
    top: 4rem;
  }
  ul.active {
    display: none;
  }
  #content .aboutContentWrapper {
    flex-direction: column;
    .aboutContent {
      margin: 2%;
    }
  }
  #menu {
    .menuFood {
      flex-direction: column;
      img {
        margin: 1em;
      }
    }
    #menuItems {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }
  #press {
    .blogWrapper {
      flex-direction: column;
      .blog {
        margin: 5%;
      }
    }
  }
  #locations {
    .blockWrapper {
      flex-direction: column;
      .block {
        margin: 5% 10%;
        width: 80%;
      }
    }
    .block:hover .locationDescription {
      transform: matrix(1, 0, 0, 1, 0, -640);
      padding: 40% 20%;
    }
  }
  #contact {
    .contactWrapper {
      flex-direction: column;
      padding: 2%;
      form {
        width: 100%;
      }
      iframe {
        margin: 5% 0 0 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .logo img {
    display: none;
  }
  #locations .block:hover .locationDescription {
    transform: matrix(1, 0, 0, 1, 0, -600);
  }
  #locations .locationDescription {
    padding: 50% 20%;
  }
}

@media screen and (max-width: 600px) {
  img.overlay {
    padding: 10%;
    top: 30%;
  }
  .aboutImage img {
    max-width: 100%;
  }
  #locations .block:hover .locationDescription {
    transform: matrix(1, 0, 0, 1, 0, -500);
  }
}

@media screen and (max-width: 480px) {
  #locations .block:hover .locationDescription {
    transform: matrix(1, 0, 0, 1, 0, -460);
  }
}
